<div class="about_page">
<h2>ETDplus Curation Workbench Tool</h21>
<h2>Preserving &amp; Curating ETD Research Data &amp; Complex Digital Objects</h2>

<h3>About the ETDplus Curation Workbench Tool</h3>
<p>The Curation Workbench is a web based tool that is designed to assist students in preparing and packaging ETD supplementary materials for long-term preservation and access. The Curation Workbench includes configurable functions and features that integrate basic preservation actions such as virus scans, integrity checks, file format identification and validation, personally identifiable information scans, and metadata and versioning support into a simple data upload and review workflow. The tool also packages uploaded data and metadata as Bags that users can download and ingest into an array of repository and storage environments.</p>

<p>The development of the Curation Workbench tool has been led by the Digital Library Development Team from Virginia Tech University in collaboration with the Educopia Institute.</p>

<h3>Review (and Use!) the Curation Workbench Tool</h3>
<p>Interested ETD stakeholders can test a demonstration version of the Curation Workbench at the following website: <a href="http://etdplusdemo.educopia.org/">http://etdplusdemo.educopia.org/</a></p>

<p>To test and use the tool you will first need to create an account by selecting “sign up” and then entering an email and password. This account will only be functional for the duration of the review phase of the Curation Workbench tool (until September 2016). The maximum size for uploaded files is 200 MB and no more than 100 files can be uploaded at one time during the review phase. </p>

<p>We are releasing the Curation Workbench&mdash;both during this initial public review phase and after it is refined&mdash;as open source software. We want institutions to use, integrate, and implement this tool in whatever way works for their local audiences. </p>

<p>We invite you to help us refine the Curation Workbench tool by drawing our project team’s attention to any features or functions that need to be modified, revised, broadened, or narrowed. Please send us an email with your suggestions at the addresses below by or before September 19, 2016. We plan to integrate the community’s feedback before formally releasing the tool on GitHub later this summer. </p>

<p>We will gladly accept feedback between July 25 and September 19, 2016.</p>

<p>If you have any further questions about the Curation Workbench or about the ETDplus project, don't hesitate to reach out to us:<br/>
<strong><a href="mailto:katherine@educopia.org">Katherine Skinner, Principal Investigator</a> (katherine@educopia.org)</strong><br/>
<strong><a href="mailto:sam@educopia.org">Sam Meister, Co-Principal Investigator</a> (sam@educopia.org)</strong></br/>
<strong><a href="mailto:courtney@educopia.org">Courtney Vukasinovic, Administrative Coordinator</a> (courtney@educopia.org)</strong>

<h3>About the <a href="https://educopia.org/research/grants/etdplus">ETDplus Project</a></h3>

<p>The project is generously funded by the Institute of Museum and Library Services (IMLS) and led by the <a href="https://educopia.org/">Educopia Institute</a>, in collaboration with the NDLTD, HBCU Alliance, bepress, ProQuest, and the libraries of Carnegie Mellon, Indiana State, Morehouse, Oregon State, Penn State, Purdue, University of Louisville, University of Tennessee, the University of North Texas, and Virginia Tech.</p>

<p>Project Advisory Group
  <ul>
  <li>Dr. Tyler Walters (Dean of Libraries, Virginia Tech)</li>
  <li>Michael Witt (Purdue University, Interdisciplinary Research Librarian)</li>
  <li>Christopher “Cal” Lee (University of North Carolina-Chapel Hill, Associate Professor, University of North Carolina School of Information and Library Science)</li>
  <li>Gail McMillan (Virginia Tech, Director of Digital Research &amp; Scholarship Services)</li>
  <li>Kathleen Shearer (Confederation of Open Access Research, Executive Director)</li>
  <li>Dwayne K. Buttler (University of Louisville, Evelyn J. Schneider Endowed Chair for Scholarly Communication)</li>
  <li>Amy Jo Barton (Purdue University Libraries, Metadata Specialist)</li>
  </ul>
</p>

<p>Project Steering Committee
  <ul>
  <li>Dr. Martin Halbert (UNT, Dean of Libraries and Associate Professor)</li>
  <li>Holly Mercer (University of Tennessee, Knoxville Libraries, Associate Dean for Scholarly Communication and Research Services)</li>
  <li>Chris Eaker (University of Tennessee, Knoxville Libraries, Data Curation Librarian)</li>
  <li>Carly Dearborn (Purdue University Libraries, Digital Preservation &amp; Electronic Records Archivist)</li>
  <li>Gabrielle Michalek (Carnegie Mellon University, Head of Archives &amp; Digital Library Initiatives)</li>
  <li>Michael Boock (Oregon State University, Head of Center for Digital Scholarship and Services)</li>
  <li>Mike Furlough (Penn State University, Associate Dean for Research &amp; Scholarly Communications)</li>
  <li>Austin McClean (ProQuest, Director of Scholarly Communication and Dissertation Publishing)</li>
  <li>Eli Windchey (Bepress, Vice President of Consulting Services)</li>
  <li>Joe Swanson, Jr. (Morehouse College, Director of Morehouse School of Medicine Library)</li>
  <li>Zhiwu Xie (University Libraries Virginia Tech, Associate Professor &amp; Technology Development Librarian)</li>
  <li>Rachel Howard (University of Louisville, Digital Initiatives Librarian)</li>
  <li>Cinda May (Indiana State University, Associate Librarian &amp; Public Historian)</li>
  </ul>
</p>

</div>
