<div class="about_page">
<h2>ETDplus Curation Workbench Tool</h21>
<h2>Preserving & Curating ETD Research Data & Complex Digital Objects</h2>

<h3>About the ETDplus Curation Workbench Tool</h3>
<p>The Curation Workbench is a web based tool that is designed to assist students in preparing and packaging ETD supplementary materials for long-term preservation and access. The Curation Workbench includes configurable functions and features that integrate basic preservation actions such as virus scans, integrity checks, file format identification and validation, personally identifiable information scans, and metadata and versioning support into a simple data upload and review workflow. The tool also packages uploaded data and metadata as Bags that users can download and ingest into an array of repository and storage environments.</p>

<h3>Review (and Use!) the Curation Workbench Tool</h3>
<p>Interested ETD stakeholders can test a demonstration version of the Curation Workbench at the following website: <a href="http://etdplusdemo.educopia.org/">http://etdplusdemo.educopia.org/</a></p>

<p>To test and use the tool you will first need to create an account by selecting “sign up” and then entering an email and password. This account will only be functional for the duration of the review phase of the Curation Workbench tool (until September 2016). The maximum size for uploaded files is 200 MB and no more than 100 files can be uploaded at one time during the review phase. </p>

<p>We are releasing the Curation Workbench--both during this initial public review phase and after it is refined--as open source software. We want institutions to use, integrate, and implement this tool in whatever way works for their local audiences. </p>

<p>We invite you to help us refine the Curation Workbench tool by drawing our project team’s attention to any features or functions that need to be modified, revised, broadened, or narrowed. Please send us an email with your suggestions at the addresses below by or before August 10, 2016. We plan to integrate the community’s feedback before formally releasing the tool on GitHub later this summer. </p>

<p>We will gladly accept feedback between June 13 and August 13, 2016.</p>

<p>If you have any further questions about the Curation Workbench or about the ETDplus project, don't hesitate to reach out to us:<br/>
<a href="mailto:katherine@educopia.org">Katherine Skinner, Principal Investigator</a> <strong>(katherine@educopia.org)</strong><br/>
<a href="mailto:sam@educopia.org">Sam Meister, Co-Principal Investigator</a> <strong>(sam@educopia.org)</strong></br/>
<a href="mailto:courtney@educopia.org">Courtney Vukasinovic, Administrative Coordinator</a> <strong>(courtney@educopia.org)</strong>

<h3>About the <a href="https://educopia.org/research/grants/etdplus">ETDplus Project</a></h3>

<p>The project is generously funded by the Institute of Museum and Library Services (IMLS) and led by the <a href="https://educopia.org/">Educopia Institute</a>, in collaboration with the NDLTD, HBCU Alliance, bepress, ProQuest, and the libraries of Carnegie Mellon, Indiana State, Morehouse, Oregon State, Penn State, Purdue, University of Louisville, University of Tennessee, the University of North Texas, and Virginia Tech.</p>
</div>
