<h4>What you can do with the Curation Workbench:</h4>
<div class="tutorial-video">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/Ka_ZsUAD6ls" frameborder="0" allowfullscreen></iframe>
</div>
<ol>
  <li>Create an account
  <ol type="a">
    <li>Select “Login” button in top right corner</li>
    <li>If you don’t have an account already, click on “Sign up”</li>
    <li>After you’ve logged in, you will be at the main dashboard: <a href="http://etdplusdemo.educopia.org/dashboard">http://etdplusdemo.educopia.org/dashboard</a></li>
  </ol>
  </li>
  <li>Create collections
  <ol type="a">
    <li>Click on the top right corner (your email), to go to the main dashboard</li>
    <li>Select “Create Collections”
    <li>Make sure you fill out the required fields marked with red asterisk before saving the collection</li>
  </ol>
  </li>
  <li>Upload files
  <ol type="a">
    <li>Click on the top right corner (your email), to go to the main dashboard</li>
    <li>Select “Upload” to upload files</li>
    <li>Make sure you fill out the required fields marked with red asterisk before saving the file(s)</li>
  </ol>
  </li>
  <li>Edit metadata of a collection
  <ol type="a">
    <li>Go to main dashboard</li>
    <li>Click on “View Collections”</li>
    <li>On a collection page, select “Edit” to add descriptive metadata</li>
  </ol>
  </li>
  <li>Edit metadata of a file
  <ol type="a">
    <li>Go to main dashboard</li>
    <li>Click on “View Files”</li>
    <li>On a file page, select “Edit” to add descriptive metadata</li>
  </ol>
  </li>
  <li>Review outputs from curation tools
  <ol type="a">
    <li>On a file page review info below “File details”</li>
  </ol>
  </li>
  <li>Download packages with preservation metadata</li>
  <ol type="a">
    <li>On a Collections page, select “Download”</li>
  </ol>
  </li>
  <li>For traditional ETDs, download a submission package to ProQuest.</li>
</ol>

<h4>What the Curation Workbench has added to Sufia:</h4>

<p>The Curation Workbench is built on the <a href="http://sufia.io/about/">Sufia</a> platform and has incorporated multiple curation tools to allow users to evaluate supplementary materials, by automatically performing multiple preservation actions including virus scans, finer-tuned file format identification and characterization, and personally identifiable information scans. Customizable configurations allow each institution to design its own curation rules and workflows. Additionally, the outputs of these tools along with other technical and descriptive metadata added by a user can be downloaded as a package that includes the files and associated metadata in a METS.xml file.</p>

<p>For more about Sufia, please visit <a href="http://sufia.io/about/">http://sufia.io/about/</a></p>
